:root {
  --bg-c-body: #ffffff;
  --bg-c-footer: #285bad;
  --bg-c-nav: #ffffff;
  --f-c-footer: white;
  --f-c-navbar: white;
  --max-width: 1140px;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--bg-c-body);
}

nav {
  background-color: var(--bg-c-nav);
  position: sticky;
  top: 0;
  padding: 5px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  font-family: verdana;
  text-align: center;
  font-size: 16px;
  color: rgb(0, 119, 255);
  text-shadow: rgb(0, 0, 0) 1px 1px 2px;
}

nav .imageContainer a img {
  width: 100%;
}

.Logo_img {
  display: none;
}

.navbar_button {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #387ec9 5%, #1e62d0 100%);
  background-color: #387ec9;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
}
.navbar_button:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #387ec9 100%);
  background-color: #1e62d0;
}
.navbar_button:active {
  position: relative;
  top: 1px;
}

.hero-home {
  display: flex;
  height: 700px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eceef1;
}

.flex-hero-home {
  display: flex;
  flex: 1 1 0px;
  justify-content: space-around;
}

.box1-hero-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
}

.h1-hero-home {
  margin: 0;
}

.h2-hero-home {
  padding-top: 5px;
}

.hero_button {
  padding-top: 5px;
}

.image-hero-home {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.content h2 {
  padding-bottom: 5px;
}

.image-content {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.box-content-1 {
  background-color: #eceef1;
}

.box-content-2 {
  background-color: #ffffff;
}

.box-content-3 {
  background-color: #eceef1;
}

.box-content-4 {
  background-color: #ffffff;
}

.box-content-5 {
  background-color: #eceef1;
}

.box-content-6 {
  background-color: #ffffff;
}

footer {
  background-color: var(--bg-c-footer);
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

.footerContainer {
  width: var(--max-width);
}

.containerLogo {
  margin-bottom: 10px;
}

.footercontent {
  color: var(--f-c-footer);
  display: flex;
  justify-content: space-between;
}

.footerStrong {
  font-weight: normal;
}

.footerHeader {
  font-weight: 600;
}

.footerOptions li {
  padding: 5px;
}
